@using Microsoft.EntityFrameworkCore.Metadata.Internal
@{
    ViewData["Title"] = "Home Page";
}

@model HoldEvent.Models.Entities.Event

<div class="text-center">
    <h1 class="display-4" style="font-weight:700">Inspect Event</h1>
</div>

<form method="post" class="p-4 border rounded shadow-sm" style="background-color: #fdfdfd;">
    <div class="mb-3">
        <input type="hidden" class="form-control" placeholder="" asp-for="EventId" />
    </div>

    <div class="mb-3">
        <label class="form-label fw-semibold">Name</label>
        <input type="text" class="form-control" placeholder="" asp-for="Name" readonly />
        <span asp-validation-for="Name" class="text-danger small"></span>
    </div>

    <div class="mb-3">
        <label class="form-label fw-semibold">Description</label>
        <textarea class="form-control" rows="5" placeholder="Nhập nội dung chi tiết" asp-for="Description" readonly></textarea>
        <span asp-validation-for="Description" class="text-danger small"></span>
    </div>

    <div class="mb-3">
        <label class="form-label fw-semibold">Day - Time Start</label>
        <input type="datetime-local" class="form-control" placeholder="" asp-for="StartTime" readonly />
        <span asp-validation-for="StartTime" class="text-danger small"></span>
    </div>

    <div class="mb-3">
        <label class="form-label fw-semibold">Day - Time End</label>
        <input type="datetime-local" class="form-control" placeholder="" asp-for="EndTime" readonly />
        <span asp-validation-for="EndTime" class="text-danger small"></span>
    </div>

    <div class="mb-4">
        <label class="form-label fw-semibold">Is Public</label>
        <select class="form-select" asp-for="IsPublic" disabled>
            <option value="false">Private</option>
            <option value="true">Public</option>
        </select>
    </div>

    <div class="d-flex gap-2">
        <button class="btn btn-success" type="submit" asp-route-EventStatus="Approved">Approved</button>
        <button class="btn btn-warning text-white" type="submit" asp-route-EventStatus="Rejected">Rejected</button>
        <button class="btn btn-secondary" type="submit" formmethod="get" asp-area="" asp-controller="Admin" asp-action="ListEvent">Cancel</button>
    </div>
</form>

