@using Microsoft.EntityFrameworkCore.Metadata.Internal
@{
    ViewData["Title"] = "Home Page";
}

@model HoldEvent.Models.ChangePasswordViewModel

<div class="text-center">
    <h1 class="display-4">Change Password</h1>
</div>

<form method="post">
    <div class="mt-3">
        <input type="hidden" class="form-control" placeholder="" asp-for="AccountID"  />
    </div>
    <div class="mt-3">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" placeholder="" asp-for="OldPasswordHash" />
        <span asp-validation-for="OldPasswordHash" class="text-danger"></span>
    </div>

    <div class="mt-3">
        <label class="form-label">newPassword</label>
        <input type="password" class="form-control" placeholder="" asp-for="newPassword"/>
        <span asp-validation-for="newPassword" class="text-danger"></span>
    </div>

    <div class="mt-3">
        <label class="form-label">ConfirmNewPassword</label>
        <input type="password" class="form-control" placeholder="" asp-for="ConfirmNewPassword"/>
        <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
    </div>

    <div class="mt-3">
        <button class=" btn btn-primary" type="submit">OK</button>

        <button class=" btn btn-danger" type="" formmethod="get" asp-area="" asp-controller="Home" asp-action="Index">Cancel</button>
    </div>


</form>
