@using Microsoft.EntityFrameworkCore.Metadata.Internal
@{
    ViewData["Title"] = "Home Page";
}

@model HoldEvent.Models.EventBookingViewModel

<div class="text-center">
    @if (Model.EventStatus == null)
    {
        <h1 class="display-4" style="font-weight:700">Create Event</h1>
    }
    else
    {
        <h1 class="display-4" style="font-weight:700">Edit Event</h1>
    }

</div>

<form method="post" class="mx-auto" style="max-width: 600px;">
    <input type="hidden" asp-for="EventId" />
    <input type="hidden" asp-for="Venues" />

    <div class="mb-3">
        <label asp-for="Name" class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="Name" placeholder="Nhập tên sự kiện" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Description" class="form-label">Description</label>
        <textarea class="form-control" rows="5" asp-for="Description" placeholder="Nhập nội dung chi tiết"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="StartTime" class="form-label">Day - Time Start</label>
        <input type="datetime-local" class="form-control" asp-for="StartTime" />
        <span asp-validation-for="StartTime" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="EndTime" class="form-label">Day - Time End</label>
        <input type="datetime-local" class="form-control" asp-for="EndTime" />
        <span asp-validation-for="EndTime" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="IsPublic" class="form-label">Is Public</label>
        <select class="form-select" asp-for="IsPublic">
            <option value="false">Private</option>
            <option value="true">Public</option>
        </select>
    </div>

    <div class="mb-3">
        <label asp-for="VenueId" class="form-label">Địa điểm bạn đã thuê</label>
        <select class="form-select" asp-for="VenueId" aria-label="Chọn địa điểm">
            @if (Model.Venues == null || !Model.Venues.Any())
            {
                <option value="">Không tồn tại địa điểm bạn đã thuê</option>
            }
            else
            {
                @foreach (var v in Model.Venues)
                {
                    <option value="@v.VenueId">@v.Name</option>
                }
            }
        </select>
        <span asp-validation-for="VenueId" class="text-danger"></span>
    </div>

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="d-flex gap-2 mt-4">
        <button type="submit" class="btn btn-primary flex-grow-1">OK</button>
        <button type="button" formmethod="get" asp-area="" asp-controller="Organizer" asp-action="ListEvent" class="btn btn-danger flex-grow-1">Cancel</button>
    </div>
</form>

