@using Microsoft.EntityFrameworkCore.Metadata.Internal
@{
    ViewData["Title"] = "Home Page";
}

@model HoldEvent.Models.EventTicketVenueViewModel

<div class="text-center">
    <h1 class="display-4" style="font-weight:700">Event</h1>

</div>

<div class="card mx-auto p-4" style="max-width: 600px; box-shadow: 0 0 15px rgba(0,0,0,0.1); border-radius: 10px; background: #fff;">
    <input type="hidden" asp-for="EventId" />

    <div class="mb-3">
        <label asp-for="Name" class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="Name" readonly />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Description" class="form-label">Description</label>
        <textarea class="form-control" rows="5" asp-for="Description" readonly placeholder="Nhập nội dung chi tiết"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="StartTime" class="form-label">Day - Time Start</label>
        <input type="datetime-local" class="form-control" asp-for="StartTime" readonly />
        <span asp-validation-for="StartTime" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="EndTime" class="form-label">Day - Time End</label>
        <input type="datetime-local" class="form-control" asp-for="EndTime" readonly />
        <span asp-validation-for="EndTime" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="IsPublic" class="form-label">Is Public</label>
        <select class="form-select" asp-for="IsPublic" disabled>
            <option value="1">Private</option>
            <option value="2">Public</option>
        </select>
    </div>

    <div class="mb-3">
        <label asp-for="EventStatus" class="form-label">Event Status</label>
        <select class="form-select" asp-for="EventStatus" disabled>
            <option value="-1">Pending</option>
            <option value="0">Rejected</option>
            <option value="1">Approved</option>
        </select>
    </div>

    <div class="mb-3">
        <label asp-for="PricePlace" class="form-label">Price Place</label>
        <input type="number" class="form-control" asp-for="PricePlace" step="0.01" readonly />
    </div>

    <div class="mb-3">
        <label asp-for="NamePlace" class="form-label">Name Place</label>
        <input type="text" class="form-control" asp-for="NamePlace" readonly />
    </div>

    <div class="d-grid mt-4">
        <a class="btn btn-primary" asp-area="" asp-controller="Organizer" asp-action="ListEvent">OK</a>
    </div>
</div>

