@using Microsoft.EntityFrameworkCore.Metadata.Internal
@{
    ViewData["Title"] = "Home Page";
}

@model HoldEvent.Models.EventTicketVenueViewModel

<div class="text-center">
     <h1 class="display-4">Event</h1>

</div>

<div>
    <div class="mt-3">
        <input type="hidden" class="form-control" placeholder="" asp-for="EventId" />
    </div>
    <div class="mt-3">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" placeholder="" asp-for="Name" readonly/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mt-3">
        <label class="form-label">Decription</label>
        <textarea class="form-control" rows="5" placeholder="Nhập nội dung chi tiết" asp-for="Description" readonly></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="mt-3">
        <label class="form-label"> Day - Time Start</label>
        <input type="datetime-local" class="form-control" placeholder="" asp-for="StartTime" readonly/>
        <span asp-validation-for="StartTime" class="text-danger"></span>
    </div>

    <div class="mt-3">
        <label class="form-label"> Day - Time End</label>
        <input type="datetime-local" class="form-control" placeholder="" asp-for="EndTime" readonly/>
        <span asp-validation-for="EndTime" class="text-danger"></span>
    </div>

    <div  class="mt-3">
        <label class="form-label"> Is Public</label>
        <select class="form-control" asp-for="IsPublic" disabled >
            <option value="1">Private</option>
            <option value="2">Public</option>
        </select>
    </div>

    <div class="mt-3">
        <label class="form-label"> Event Status</label>
        <select class="form-control" asp-for="EventStatus" disabled>
            <option value="-1">Pending</option>
            <option value="0">Rejected</option>
            <option value="1">Approved</option>
        </select>
    </div>

    <div class="mt-3">
        <label class="form-label"> Price Place</label>
        <input type="number" class="form-control" asp-for="PricePlace" step="0.01" placeholder="" readonly />
    </div>

    <div class="mt-3">
        <label class="form-label">Name Place</label>
        <input type="text" class="form-control" placeholder="" asp-for="NamePlace" readonly />
    </div>

    <div class="mt-3">
        <a class=" btn btn-primaty" asp-area="" asp-controller="Organizer" asp-action="ListEvent">OK</a>
    </div>
</div>
