@using Microsoft.EntityFrameworkCore.Metadata.Internal
@{
    ViewData["Title"] = "Home Page";
}

@model HoldEvent.Models.FeedbackSupportViewModel


<div class="text-center">
    <h1 class="display-4" style="font-weight:700"> Your FeedBack</h1>
</div>

<div class="container my-4 d-flex justify-content-center">
    <div class="card shadow-sm" style="max-width: 600px; width: 100%;">
        <div class="card-body">
            <form>
                <!-- Hidden fields -->
                <input type="hidden" asp-for="UserId" />
                <input type="hidden" asp-for="FeedbackId" />
                <input type="hidden" asp-for="AdminId" />
                <input type="hidden" asp-for="SupportId" />

                <div class="mb-3">
                    <label asp-for="Title" class="form-label">Title</label>
                    <textarea class="form-control" rows="1" placeholder="Nhập tiêu đề" asp-for="Title"></textarea>
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="ContentFeedback" class="form-label">Content Feedback</label>
                    <textarea class="form-control" rows="5" asp-for="ContentFeedback" readonly></textarea>
                </div>

                <div class="mb-3">
                    <label asp-for="CreateAtDayFeedback" class="form-label">Day Feedback</label>
                    <input type="datetime-local" class="form-control" asp-for="CreateAtDayFeedback" readonly />
                </div>

                @if (Model.SupportId != null)
                {
                    <hr />
                    <div class="text-center mb-3">
                        <h4 class="fw-bold">Respond for you</h4>
                    </div>

                    <div class="mb-3">
                        <label asp-for="ContentSupport" class="form-label">Content Support</label>
                        <textarea class="form-control" rows="5" asp-for="ContentSupport" readonly></textarea>
                        <span asp-validation-for="ContentSupport" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Response Date</label>
                        <input type="datetime-local" class="form-control" value="@Model?.CreateAtDayFeedback?.ToString("yyyy-MM-ddTHH:mm")" readonly />
                    </div>
                }

                <div class="d-flex justify-content-center mt-4">
                    <a class="btn btn-primary px-5" asp-area="" asp-controller="User" asp-action="ListFeedback">OK</a>
                </div>
            </form>
        </div>
    </div>
</div>





