@{
    ViewData["Title"] = "Home Page";
    var UserId = ViewData["UserId"] as string;
    var FullName = ViewData["FullName"] as string;
}

<div class="text-center">
    <h1 class="display-4">Welcome @FullName</h1>
</div>